<launch>

	<env name="ROS_MASTER_URI" value="http://130.18.14.170:11311" />
    <env name="ROS_HOSTNAME" value="130.18.14.170" />


	<node pkg="tf" name="odom_to_base_static_tf_pub" type="static_transform_publisher" args="0 0 0 0 0 0 1 odom base_link 10" />

	<include file="$(find mavs_ros)/launch/mavs_sim.launch">
		<arg name="cmd_vel_topic_arg" value="avt_341/cmd_vel" />
		<arg name="point_cloud_topic_arg" value="avt_341/points" />
		<arg name="odometry_topic_arg" value="avt_341/odometry" />
		<arg name="scene_file_arg" value="/mavs/data/scenes/odoa_scene.json" />
		<arg name="vehicle_file_arg" value="/mavs/data/vehicles/rp3d_vehicles/mrzr4_tires_low_gear.json" />
		<arg name="x_start_arg" value="-50.0" />
		<arg name="y_start_arg" value="0.0" />
		<arg name="heading_start_arg" value="0.0" />
		<arg name="lidar_type_arg" value="OS1" />
		<arg name="lidar_offset_x_arg" value="1.0" />
		<arg name="lidar_offset_y_arg" value="0.0" />
		<arg name="lidar_offset_z_arg" value="1.5" />
		<arg name="blanking_dist_arg" value="2.0" />
		<arg name="register_lidar_to_world_arg" value="true" />
	</include>

	<!-- replace base.launch with whichever one you are testing -->
	<include file="$(find avt_341)/launch/single_vehicle_base.launch">
		<arg name="waypoints_file" value="$(find avt_341)/config/odoa_waypoints.yaml" />
		<arg name="auto_launch_rviz" value="false" />
		<arg name="robot_description_file" value="$(find avt_341)/config/avt_bot.urdf" />
		<arg name="use_registered" value="true"/>
	</include> 

</launch>
