# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# custom
*mavs_config.txt
*__pycache__
*20230816_KRC_CP06_Scaled_FlippedVertical.csv
*Identifier

# Clion
.idea
cmake-build-debug*

# Visual Studio
.vs
**/out/build
.project

# Visual Studio Code
.vscode/

package.xml
config/KRC_CP*.csv