<launch>
	<!-- Args -->
	<arg name="simulation_mode" default="false" doc="Set to true if the vehicle is in Unreal Engine" />
	<arg name="waypoint_mode" default="false" doc="Set to true for waypoint following mode" />
	<arg name="use_global_path" default="true" doc="Set to true to use global path, else local path follows points directly"/>
	<arg name="max_speed" default="5.0" doc="Maximum speed limit for the vehicle"/>
	<arg name="record" default="false" doc="Record all topics to '~/avt_341_data/YYMMDD_MRZR_AVT-341_HHMMSS.bag'"/>
	<arg name="use_sim_time" default="false" doc="Use simulation time, usefull for running stack on recorded telemetry bag file"/>
	<arg name="separate_camera_bag" default="true" doc="Separate camera topics into a separate bag file"/>

    <rosparam subst_value="true">
      map_origin_x: 7885314.3400268555
      map_origin_y: 264132.3708496094
    </rosparam>

	<!-- Engine Start Sense -->
	<node name="remote_started_sense_node" pkg="mrzr_tools" type="remote_started_sense.py" unless="$(arg simulation_mode)">
		<param name="rpm_threshold" value="1000"/>
	</node>

	<!-- Controller -->
	<include file="$(find can_controller)/launch/stack_controller.launch">
        <arg name="max_speed" value="$(arg max_speed)" />
		<arg name="mode" value="0"/>
		<arg name="is_can_controller" value="$(eval not arg('simulation_mode'))"/>
        <arg name="controller_can" default="can1" />
		<arg name="enable_sensors" value="$(eval not arg('simulation_mode'))"/>
        <arg name="ouster_hostname" default="os-122223002379.local" />
		<arg name="ns" value="/" />
		<arg name="navstack_ns" default="/mrzr/avt_341" />
	</include>

	<!-- Data Recording -->
	<group if="$(arg record)">
		<arg name="time_YYMMDD" value="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%y%m%d'))"/>
		<arg name="time_HHMMSS" value="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%H%M%S'))"/>
		<arg name="home_dir" value="$(eval eval ('_' + '_import_' + '_(\'os\')').path.expanduser('~'))"/>
		<group if="$(arg separate_camera_bag)">
			<node pkg="rosbag" type="record" name="rosbag_nav_record" 
				args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_nav_$(arg time_HHMMSS) -a -x '/flir_rgb/(.*)'" output="screen"/>
			<node pkg="rosbag" type="record" name="rosbag_flir_record" 
				args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_flir_$(arg time_HHMMSS) -e '/flir_rgb/(.*)'" output="screen"/>
		</group>
		<group unless="$(arg separate_camera_bag)">
			<node pkg="rosbag" type="record" name="rosbag_record" 
				args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_$(arg time_HHMMSS) -a" output="screen"/>
		</group>
	</group>

	<!-- Namespace Remaps -->
    <remap from="/mrzr/vectornav/GPS" to="/vectornav/GPS"/>
    <remap from="/mrzr/vectornav/Odom" to="/vectornav/Odom"/>
    <remap from="/mrzr/speed_actual" to="/speed_actual"/>
	<node pkg="tf" name="lidar_ns_fix_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 mrzr/os_sensor os_sensor 100" />

	<!-- NATO AVT-341 Stack -->
	<include file="$(find avt_341)/launch/krc_base.launch">
		<arg name="use_sim_time" value="$(arg use_sim_time)" />                         <!-- Use simulation time (mainly for rosbag data replay) -->
		<arg name="auto_launch_rviz" value="true" />                                    <!-- Automatically launch rviz display window -->
		<arg name="display_type" value="rviz" />                                        <!-- Type of display method to use. Values = [rviz, image] -->
		<arg name="waypoints_file" value="$(find avt_341)/config/krc_VDA_waypoints/Z_Curve/z_curve_8.yaml" />  <!-- Path to waypoint file to use -->
		<arg name="robot_description_file" value="$(find avt_341)/config/MRZR.urdf" />  <!-- URDF robot description contents -->
		<arg name="robot_description_veh2_file" value="" />                             <!-- URDF robot description contents for vehicle 2 -->
		<arg name="robot_description_veh3_file" value="" />                             <!-- URDF robot description contents for vehicle 3 -->
		<arg name="robot_description_veh4_file" value="" />                             <!-- URDF robot description contents for vehicle 4 -->
		<arg name="num_vehicles" value="1" />                                           <!-- Number of vehicles controlled by navigation stack -->
		<arg name="namespace_single_vehicle" value="true" />                           	<!-- If true, will use vehicle namespace even when only a single vehicle is used (num_vehicles=1) -->
		<arg name="vehicle_namespaces" value="['mrzr']" />      						<!-- Vehicle namespaces -->
		<arg name="vehicle_config_folders" value="['$(find avt_341)/parameters/config_mrzr']"/>	<!-- Directories containing all config files for each vehicle -->
		<arg name="veh_index" value="0" />                                              <!-- Current index value from vehicle_namespaces and vehicle_config_folders of the vehicle being launched -->
		<arg name="use_rqt_display" value="false"/>                                     <!-- Launch rviz within rqt window -->
		<arg name="rviz_config" value="$(find avt_341)/rviz/avt_341_mrzr.rviz" /> 		<!-- Single vehicle rviz config file -->
		<arg name="rviz_mult_config" value="$(find avt_341)/rviz/avt_341_multi_vehicle.rviz" /> <!-- Multiple vehicle rviz config file -->
		<arg name="use_lidar_obstacle_detector" value="true" />							<!-- Enable lidar obstacle segmentation -->
		<arg name="local_planner_method" value="rcc" />									<!-- Local planner method. Values = ["rcc", "dwa", "pf"] -->
		<arg name="waypoint_mode" value="$(arg waypoint_mode)"/>                        <!-- Set to true for waypoint following mode -->
		<arg name="simulation_mode" value="$(arg simulation_mode)"/>                    <!-- Set to true for UE simulation -->
	</include>
</launch>