<launch>
	<!-- Args -->
	<arg name="simulation_mode" default="false" doc="Set to true if the vehicle is in Unreal Engine" />
	<arg name="waypoint_mode" default="false" doc="Set to true for waypoint following mode" />
	<arg name="use_global_path" default="true" doc="Set to true to use global path, else local path follows points directly"/>
	<arg name="max_speed" default="5.0" doc="Maximum speed limit for the vehicle"/>
	<arg name="record" default="false" doc="Record all topics to '~/avt_341_data/YYMMDD_MRZR_AVT-341_HHMMSS.bag'"/>
	<arg name="record_select_topic" default="false" doc="Record only topics defined in 'record_topics'"/>
	<arg name="record_topics" default="/cmd_vel /vectornav/GPS /mrzr/mrzr_velocity" doc="Topics to record as a space separated list (only for record_select_topic=true)"/>
	<arg name="use_sim_time" default="false" doc="Use simulation time, usefull for running stack on recorded telemetry bag file"/>
	<arg name="separate_camera_bag" default="true" doc="Separate camera topics into a separate bag file"/>
	<arg name="compress_cameras" default="true" doc="Only save compressed camera topics (only for separate_camera_bag=true)"/>
	<arg name="disable_sensor_drivers" default="false" doc="Disable sensor drivers from launching. Drivers are already disabled if simulation_mode is set to true."/>
	<arg name="enable_joystick" default="true" doc="Enable the stack controller joystick. WARNING: This will enable the avt-341 stack to publish directly to /cmd_vel"/>
	<arg name="auto_launch_rviz" default="true" doc="Automatically launch rviz"/>

    <rosparam subst_value="true">
      map_origin_x: 7885314.3400268555
      map_origin_y: 264132.3708496094
    </rosparam>

	<!-- Engine Start Sense -->
	<node name="remote_started_sense_node" pkg="mrzr_tools" type="remote_started_sense.py" unless="$(arg simulation_mode)">
		<param name="rpm_threshold" value="1000"/>
	</node>

	<!-- Controller -->
	<group unless="$(arg simulation_mode)">
		<!--include file="$(find can_controller)/launch/can_joystick.launch">
			<arg name="controller_can" default="can1" />
		</include-->
		<node pkg="mrzr_tools" type="sbus_joystick_driver.py" name="sbus_joystick_driver_node">
			<param name="port" value="/dev/ttyUSB0"/>
		</node>
	</group>
	<arg name="joy_topic_xbox" value="/joy"/>
	<arg name="joy_config_xbox" value="$(find can_controller)/config/joystick_xbox.yaml"/>
	<arg name="joy_topic_can" value="/joy"/>
	<arg name="joy_config_can" value="$(find can_controller)/config/joystick_herelink.yaml"/>
	<arg name="joy_topic" value="$(eval arg('joy_topic_xbox') if arg('simulation_mode') else arg('joy_topic_can'))"/>
	<arg name="joy_config" value="$(eval arg('joy_config_xbox') if arg('simulation_mode') else arg('joy_config_can'))"/>
	<include file="$(find can_controller)/launch/stack_controller.launch" if="$(arg enable_joystick)">
        <arg name="max_speed" value="$(arg max_speed)" />
		<arg name="mode" value="0"/>
		<arg name="joy_topic" value="$(arg joy_topic)"/>
        <arg name="joy_config" value="$(arg joy_config)" />
		<arg name="enable_sensors" value="false"/>
        <arg name="ouster_hostname" default="os-122223002379.local" />
		<arg name="ns" value="/" />
		<arg name="navstack_ns" default="/mrzr/avt_341" />
	</include>

	<!-- Data Recording -->
	<group if="$(arg record)">
		<arg name="time_YYMMDD" value="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%y%m%d'))"/>
		<arg name="time_HHMMSS" value="$(eval eval ('_' + '_import_' + '_(\'datetime\')').datetime.now().strftime('%H%M%S'))"/>
		<arg name="home_dir" value="$(eval eval ('_' + '_import_' + '_(\'os\')').path.expanduser('~'))"/>
		<group if="$(arg record_select_topic)">
			<node pkg="rosbag" type="record" name="rosbag_nav_record"
            	args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_nav_$(arg time_HHMMSS) $(arg record_topics)" output="screen"/>
		</group>
		<group unless="$(arg record_select_topic)">
			<group if="$(arg separate_camera_bag)">
				<node pkg="rosbag" type="record" name="rosbag_nav_record" 
					args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_nav_$(arg time_HHMMSS) -a -x '/flir_rgb/(.*)|/usb_cam/(.*)'" output="screen"/>
				<node pkg="rosbag" type="record" name="rosbag_cam_record" 
					args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_cams_$(arg time_HHMMSS) -e '/flir_rgb/(.*)|/usb_cam/(.*)'" output="screen"
					unless="$(arg compress_cameras)"/>
				<node pkg="rosbag" type="record" name="rosbag_cam_record" 
					args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_cams_$(arg time_HHMMSS) -e '/flir_rgb/(.*)/compressed(.*)|/usb_cam/(.*)/compressed(.*)'" output="screen"
					if="$(arg compress_cameras)"/>
			</group>
			<group unless="$(arg separate_camera_bag)">
				<node pkg="rosbag" type="record" name="rosbag_record" 
					args="record -O $(arg home_dir)/avt_341_data/$(arg time_YYMMDD)_MRZR_AVT-341_$(arg time_HHMMSS) -a" output="screen"/>
			</group>
		</group>
	</group>

	<!-- Namespace Remaps -->
    <remap from="/mrzr/vectornav/GPS" to="/vectornav/GPS"/>
    <remap from="/mrzr/vectornav/Odom" to="/vectornav/Odom"/>
    <remap from="/mrzr/speed_actual" to="/speed_actual"/>
	<node pkg="tf" name="lidar_ns_fix_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 mrzr/os_sensor os_sensor 100" />

	<!-- NATO AVT-341 Stack -->
	<include file="$(find avt_341)/launch/krc_base.launch">
		<arg name="use_sim_time" value="$(arg use_sim_time)" />                         <!-- Use simulation time (mainly for rosbag data replay) -->
		<arg name="auto_launch_rviz" value="$(arg auto_launch_rviz)" />                	<!-- Automatically launch rviz display window -->
		<arg name="display_type" value="rviz" />                                        <!-- Type of display method to use. Values = [rviz, image] -->
		<arg name="waypoints_file" value="$(find avt_341)/config/krc_VDA_waypoints/side_slope/dense.yaml" />  <!-- Path to waypoint file to use -->
		<arg name="robot_description_file" value="$(find avt_341)/config/MRZR.urdf" />  <!-- URDF robot description contents -->
		<arg name="robot_description_veh2_file" value="" />                             <!-- URDF robot description contents for vehicle 2 -->
		<arg name="robot_description_veh3_file" value="" />                             <!-- URDF robot description contents for vehicle 3 -->
		<arg name="robot_description_veh4_file" value="" />                             <!-- URDF robot description contents for vehicle 4 -->
		<arg name="num_vehicles" value="1" />                                           <!-- Number of vehicles controlled by navigation stack -->
		<arg name="namespace_single_vehicle" value="true" />                           	<!-- If true, will use vehicle namespace even when only a single vehicle is used (num_vehicles=1) -->
		<arg name="vehicle_namespaces" value="['mrzr']" />      						<!-- Vehicle namespaces -->
		<arg name="vehicle_config_folders" value="['$(find avt_341)/parameters/config_mrzr']"/>	<!-- Directories containing all config files for each vehicle -->
		<arg name="veh_index" value="0" />                                              <!-- Current index value from vehicle_namespaces and vehicle_config_folders of the vehicle being launched -->
		<arg name="use_rqt_display" value="false"/>                                     <!-- Launch rviz within rqt window -->
		<arg name="rviz_config" value="$(find avt_341)/rviz/avt_341_mrzr.rviz" /> 		<!-- Single vehicle rviz config file -->
		<arg name="rviz_mult_config" value="$(find avt_341)/rviz/avt_341_multi_vehicle.rviz" /> <!-- Multiple vehicle rviz config file -->
		<arg name="use_lidar_obstacle_detector" value="true" />							<!-- Enable lidar obstacle segmentation -->
		<arg name="local_planner_method" value="rcc" />									<!-- Local planner method. Values = ["rcc", "dwa", "pf"] -->
		<arg name="waypoint_mode" value="$(arg waypoint_mode)"/>                        <!-- Set to true for waypoint following mode -->
		<arg name="simulation_mode" value="$(arg simulation_mode)"/>                    <!-- Set to true for UE simulation -->
		<arg name="use_global_path" value="$(arg use_global_path)"/>					<!-- Set to true to use global path, else local path follows points directly -->
	</include>
</launch>