<launch>
	<arg name="wheelbase" default="2.731" doc="Vehicle wheelbase, default for MRZR D4" />
	<arg name="vehicle_width" default="1.511" doc="Vehicle width, default for MRZR D4" />
	<arg name="max_steer" default="0.69" doc="Maximum steering angle, default for MRZR D4" />

    <rosparam subst_value="true">
      map_origin_x: 7885314.3400268555
      map_origin_y: 264132.3708496094
    </rosparam>

	<!--include file="$(find rosbridge_server)/launch/rosbridge_tcp.launch">
		<arg name="bson_only_mode" value="true"/>
	</include-->

	<include file="$(find can_controller)/launch/stack_controller.launch">
		<arg name="mode" value="0"/>
		<arg name="is_can_controller" value="false"/>
		<arg name="enable_sensors" value="false"/>
		<arg name="ns" value="mrzr" />
		<arg name="navstack_ns" default="/mrzr/avt_341" />
	</include>

	<include file="$(find avt_341)/launch/krc_base.launch">

		<!-- ********** \/ General \/ ********** -->
		<arg name="waypoints_file" value="$(find avt_341)/config/krc_VDA_waypoints/loop_4_waypoints_nad83.yaml"/>
        <arg name="global_grid_csv_path" value="$(find avt_341)/config/20230816_KRC_CP06_Scaled_FlippedVertical.csv" /> 
		<arg name="robot_description_file" value="$(find avt_341)/config/MRZR.urdf"/>
		<arg name="rviz_config" value="$(find avt_341)/rviz/avt_341_mrzr.rviz" />

        <arg name="num_vehicles" value="1" />
        <arg name="namespace_single_vehicle" value="true" />
        <arg name="vehicle_namespaces" value="['mrzr']" />       

		<arg name="use_sim_time" value="false"/>
		<!-- ********** /\ General /\ ********** -->

		<!-- ********** \/ Global Planner \/ **********  -->
		<arg name="verbose_gp_log" value="true" />
		<!-- ********** /\ Global Planner /\ **********  -->

		<!-- ********** \/ Local Planner \/ **********  -->
		<arg name="local_planner_method" value="rcc" />
		<arg name="path_look_ahead" default="15.0" />	<!-- Should be about vehicle_speed*3 (3 second lookahead)-->
		<arg name="pf_obstacle_cost_thresh" value="90" />
		<arg name="dwa_thresh_obs" value="90" />
		<arg name="vehicle_width" value="$(arg vehicle_width)" />
		<arg name="max_steer_angle" value="$(arg max_steer)" />
		<arg name="dwa_wheelbase" value="$(arg wheelbase)" />
		<arg name="use_global_path" value="false" />
		<!-- ********** /\ Local Planner /\ **********  -->

		<!-- ********** \/ Lidar Obstacle Detector \/ ********** -->
  		<arg name="use_lidar_obstacle_detector" value="true" />
		<arg name="raw_points_topic" value="ouster/points" />
		<!-- ********** /\ Lidar Obstacle Detector /\ ********** -->
		
		<!-- ********** \/ Pure Pursuit Control \/ ********** -->
		<arg name="vehicle_wheelbase" value="$(arg wheelbase)"/>
		<arg name="vehicle_max_steer_angle_degrees" value="$(eval max_steer * 180.0 / 3.14159265)"/>
		<arg name="vehicle_speed" value="5.0" />

		<arg name="use_speed_controller" value="false" />

		<arg name="time_to_max_throttle" value="3.0" />
		<arg name="max_desired_lateral_g" value="20.0"/>

		<arg name="throttle_kp" value="1.1" />
		<arg name="throttle_ki" value="0.0" />
		<arg name="throttle_kd" value="0.0" />
		<!-- ********** /\ Pure Pursuit Control /\ ********** -->

		<!-- ********** \/ Perception \/ ********** -->
		<arg name="perception_points_topic" value="/avt_341/lidar_detector/cloud_clusters" />
		<arg name="perception_rate" value="100.0" />
		<arg name="robot_base_link" value="mrzr/base_link" />
		<arg name="slope_threshold" value="0.5" />

		<arg name="grid_height" value="2290.0" /> 
  		<arg name="grid_width" value="2955.0" />
		<arg name="grid_llx" value="0"/>
		<arg name="grid_lly" value="0"/>
		<arg name="grid_res" value="1.0"/>

		<arg name="use_elevation" value="false" />
		<arg name="overhead_clearance" value="5.0" />

		<arg name="clear_method_type" value="no_obs_time" />
		<arg name="clear_method_visualize" value="false" />
  		<arg name="clear_method_visualize_range" value="40.0" />
		<arg name="clear_method_raytrace_range" value="50.0" />
		<arg name="clear_method_use_voxels" value="true" />
		<arg name="clear_method_voxel_height_min" value="0.0" />
		<arg name="clear_method_voxel_height_res" value="0.5" />
		<arg name="clear_method_immediate_clear_dilation" value="true" />
		<arg name="clear_method_obs_filter_range" value="1.0" />
		<arg name="clear_method_max_point_age" value="1.0" />
		<arg name="clear_method_sampled_threshold" value="5" />

		<arg name="cull_lidar" value="false" />
		<arg name="cull_lidar_dist" value="100.0" />
		<arg name="cull_lidar_dist_min" value="1.5" />

		<arg name="grid_dilate" value="true" />
  		<arg name="grid_dilate_x" value="0.5" />
  		<arg name="grid_dilate_y" value="0.5" />
  		<arg name="grid_dilate_proportion" value="0.8" />
		<!-- ********** /\ Perception /\ ********** -->

	</include>
</launch>