<launch>

  <!-- General  -->
  <arg name="use_sim_time" default="false" />                                       <!-- Use simulation time (mainly for rosbag data replay) -->
  <arg name="auto_launch_rviz" default="true" />                                    <!-- Automatically launch rviz display window -->
  <arg name="display_type" default="rviz" />                                        <!-- Type of display method to use. Values = [rviz, image] -->
  <arg name="waypoints_file" default="$(find avt_341)/config/no_waypoints.yaml" />  <!-- Path to waypoint file to use -->
  <arg name="robot_description_file" default="" />                                  <!-- URDF robot description contents -->
  <arg name="robot_description_veh2_file" default="" />                             <!-- URDF robot description contents for vehicle 2 -->
  <arg name="robot_description_veh3_file" default="" />                             <!-- URDF robot description contents for vehicle 3 -->
  <arg name="robot_description_veh4_file" default="" />                             <!-- URDF robot description contents for vehicle 4 -->
  <arg name="num_vehicles" default="1" />                                           <!-- Number of vehicles controlled by navigation stack -->
  <arg name="namespace_single_vehicle" default="false" />                           <!-- If true, will use vehicle namespace even when only a single vehicle is used (num_vehicles=1) -->
  <arg name="vehicle_namespaces" default="['agv1', 'agv2', 'cgv1', 'cgv2']" />      <!-- Vehicle namespaces -->
  <arg name="vehicle_config_folders" default="['$(find avt_341)/parameters/archive',
                                               '$(find avt_341)/parameters/archive',
                                               '$(find avt_341)/parameters/archive',
                                               '$(find avt_341)/parameters/archive']"/>  <!-- Directories containing all config files for each vehicle -->
  <arg name="veh_index" default="0" />                                              <!-- Current index value from vehicle_namespaces and vehicle_config_folders of the vehicle being launched -->
  <arg name="use_rqt_display" default="false"/>                                     <!-- Launch rviz within rqt window -->
  <arg name="rviz_config" default="$(find avt_341)/rviz/avt_341.rviz" />            <!-- Single vehicle rviz config file -->
  <arg name="rviz_mult_config" default="$(find avt_341)/rviz/avt_341_multi_vehicle.rviz" /> <!-- Multiple vehicle rviz config file -->
  <arg name="use_lidar_obstacle_detector" default="false" />                        <!-- Enable lidar obstacle segmentation -->
  <arg name="local_planner_method" default="rcc" />                                 <!-- Local planner method. Values = ["rcc", "dwa", "pf"] -->
  <arg name="waypoint_mode" default="false"/>                                       <!-- Set to true for waypoint following mode -->
  <arg name="simulation_mode" default="false"/>                                     <!-- Set to true for UE simulation -->
  <arg name="use_global_path" default="true"/>                                      <!-- Set to true to use global path, else local path follows points directly -->
  
  <!-- Vehicle config files  -->
  <arg name="perception_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/perception.yaml')"/>
  <arg name="obstacle_detector_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/obstacle_detector.yaml')"/>
  <arg name="costmap_layered_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/costmap_layered.yaml')"/>
  <arg name="static_obstacles_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/static_obstacles.yaml')"/>
  <arg name="static_normals_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/static_normals.yaml')"/>
  <arg name="global_planner_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/global_planner.yaml')"/>
  <arg name="rcc_local_planner_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/rcc_local_planner.yaml')"/>
  <arg name="pf_local_planner_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/pf_local_planner.yaml')"/>
  <arg name="dwa_local_planner_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/dwa_local_planner.yaml')"/>
  <arg name="control_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/control.yaml')" />
  <arg name="mission_manager_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/mission_manager.yaml')"/>
  <arg name="socket_comms_params" value="$(eval eval(arg('vehicle_config_folders'))[arg('veh_index')] + '/socket_comms.yaml')"/>
  

  <!-- ********************* END OF ARGS ***********************************-->

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>

  <rosparam file="$(arg waypoints_file)" if="$(arg waypoint_mode)"/>
  <param name="waypoints_x" value="[]" unless="$(arg waypoint_mode)"/>
  <param name="waypoints_y" value="[]" unless="$(arg waypoint_mode)"/>

  <param name="robot_description" command="cat $(arg robot_description_file)" />

  <group if="$(eval arg('num_vehicles') > arg('veh_index'))" ns="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '/')" >

  <group if="$(eval env('ROS_DISTRO') != 'lunar' and env('ROS_DISTRO') != 'kinetic')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '')" />
    </node>
  </group>
  <group if="$(eval env('ROS_DISTRO') == 'lunar' or env('ROS_DISTRO') == 'kinetic')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        <param name="tf_prefix" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '')" />
    </node>
  </group>

  <!-- Add necessary tf aliases-->
  <node pkg="tf" name="static_transform_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 map odom 10" />
  <node pkg="tf" name="master_link_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 mrzr/base_link base_link 10" />
  <node pkg="tf" name="lidar_link_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 mrzr/os_sensor mrzr/lidar 10" />

  <!-- MRZR tf2 server for dynamic transforms -->
  <node name="mrzr_tf2_server" pkg="mrzr_tools" type="mrzr_tf2_server.py" >
    <param name="publish_odom" value="true" />
    <param name="odom_topic" value="avt_341/odometry" />
  </node>

  <!--republish the mrak speed message as a float64 -->
  <node name="mrzr_speed_republish_node" pkg="mrzr_tools" type="mrzr_speed_republish_node" required="true" output="screen" />

  <!-- Run the static obstacles map server --> 
  <node pkg="map_server" name="static_obstacles_server" type="map_server" args="$(arg static_obstacles_params)">
    <remap from="map" to="avt_341/static_obstacles" />
  </node>

  <!-- Run the static normals map server --> 
  <node pkg="map_server" name="static_normals_server" type="map_server" args="$(arg static_normals_params)">
    <remap from="map" to="avt_341/static_normals" />
  </node>

  <!-- Run costmap server -->
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen">
    <rosparam file="$(arg costmap_layered_params)" command="load" ns="costmap"/>
  </node>

  <!-- TBS Twist message (cmd_vel) to Throttle, Brake, Steering message converter -->
  <node name="tbs_cmd_vel_converter" pkg="mrzr_tools" type="tbs_cmd_vel_converter.py">
    <remap from="~cmd_vel_in" to="avt_341/cmd_vel" />
    <remap from="~throttle_rqst" to="avt_341/throttle_rqst" />
    <remap from="~brake_rqst" to="avt_341/brake_rqst" />
    <remap from="~steering_rqst" to="avt_341/steering_rqst" />
  </node>

  <!-- Lidar Perception Algorithms  -->
  <node name="perception_node" pkg="avt_341" type="avt_341_perception_node" required="true" output="screen">
    <rosparam command="load" file="$(arg perception_params)" subst_value="true"/>
  </node>
  <group if="$(eval arg('use_lidar_obstacle_detector'))">
    <node name="lidar_obstacle_detector_node" pkg="avt_341" type="avt_341_lidar_obstacle_detector_node" output="screen">
      <rosparam command="load" file="$(arg obstacle_detector_params)" />
    </node>
  </group>

  <!-- Grid Commpression  -->
  <node name="grid_compression_node" pkg="avt_341" type="avt_341_grid_compression_node" required="true" output="screen"/>

  <!-- Speed Controller -->
  <group if="$(eval arg('local_planner_method') != 'dwa')">
      <node name="vehicle_control_node" pkg="avt_341" type="avt_341_control_node" required="true" output="screen" >
        <rosparam command="load" file="$(arg control_params)"/>
        <param name="vehicle_wheelbase" value="2.731" if="$(arg simulation_mode)"/>
      </node>
  </group>
  <group if="$(eval arg('local_planner_method') == 'dwa')">
      <node name="vehicle_control_node" pkg="avt_341" type="avt_341_speed_control_node" required="true" output="screen" >
        <rosparam command="load" file="$(arg control_params)"/>
        <param name="vehicle_wheelbase" value="2.731" if="$(arg simulation_mode)"/>
      </node>
  </group>

  <!-- Global Planner -->
  <node name="global_path_node" pkg="avt_341" type="avt_341_global_path_node" required="true" output="screen">
    <param name="display" value="$(arg display_type)" />
    <rosparam command="load" file="$(arg global_planner_params)"/>
    <param name="use_global_path" value="$(arg use_global_path)"/>
  </node>

  <!-- Local Planner -->
  <group if="$(eval arg('local_planner_method') == 'rcc')">
    <node name="local_planner_node" pkg="avt_341" type="avt_341_local_planner_node" output="screen" required="true">
      <param name="display" value="$(arg display_type)" />
      <rosparam command="load" file="$(arg rcc_local_planner_params)"/>
      <param name="use_global_path" value="$(arg use_global_path)"/>
    </node>
  </group>
  <group if="$(eval arg('local_planner_method') == 'dwa')">
    <node name="local_dwa_planner_node" pkg="avt_341" type="avt_341_dwa_planner_node" output="screen" required="true" >
      <rosparam command="load" file="$(arg dwa_local_planner_params)"/>
      <param name="wheelbase" value="2.731" if="$(arg simulation_mode)"/>
    </node>
  </group>
  <group if="$(eval arg('local_planner_method') == 'pf')">
    <node name="local_pf_planner_node" pkg="avt_341" type="avt_341_pf_planner_node" output="screen" required="true" >
      <rosparam command="load" file="$(arg pf_local_planner_params)"/>
    </node>
  </group>

  <!-- Mission Manager -->
  <node name="mission_manager_node" pkg="avt_341" type="avt_341_mission_manager_node" output="screen">
    <rosparam param="vehicle_namespaces" subst_value="True">$(arg vehicle_namespaces)</rosparam>
    <param name="name" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')].upper())"/>
    <rosparam command="load" file="$(arg mission_manager_params)" subst_value="true"/>
  </node>

  <!-- Socket Communication -->
  <node name="comm_node" pkg="avt_341" type="avt_341_comm_node" output="screen">
    <param name="name" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')].upper())"/>
    <rosparam command="load" file="$(arg socket_comms_params)"/>
  </node>

  <!-- Visualization -->
  <group unless="$(arg use_rqt_display)">
    <group if="$(eval arg('display_type') == 'rviz' and arg('auto_launch_rviz') and arg('veh_index') == 0 and arg('num_vehicles') == 1)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)" output="screen"/>
    </group>
    <group if="$(eval arg('display_type') == 'rviz' and arg('auto_launch_rviz') and arg('veh_index') == 0 and arg('num_vehicles') > 1)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_mult_config)" />
    </group>
  </group>
  <group if="$(arg use_rqt_display)">
    <node name="rqt_topic_rviz" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find avt_341)/rviz/rviz-topic-monitor.perspective"/>
  </group>

  </group>  <!-- / End group namespace -->

  <!-- Recursive Multi-Vehicle Initialization -->
  <group if="$(eval arg('num_vehicles') > arg('veh_index') + 1)">
    <include file="$(find avt_341)/launch/krc_base.launch">
      <arg name="use_sim_time" value="$(arg use_sim_time)" />
      <arg name="auto_launch_rviz" value="$(arg auto_launch_rviz)" />
      <arg name="display_type" value="$(arg display_type)" /> 
      <arg name="waypoints_file" value="$(arg waypoints_file)" />
      <arg name="robot_description_file" value="$(arg robot_description_file)" />
      <arg name="robot_description_veh2_file" value="$(arg robot_description_veh2_file)" />
      <arg name="robot_description_veh3_file" value="$(arg robot_description_veh3_file)" />
      <arg name="robot_description_veh4_file" value="$(arg robot_description_veh4_file)" />
      <arg name="num_vehicles" value="$(arg num_vehicles)" />
      <arg name="namespace_single_vehicle" value="$(arg namespace_single_vehicle)" />
      <arg name="vehicle_namespaces" value="$(arg vehicle_namespaces)" />
      <arg name="vehicle_config_folders" value="$(arg vehicle_config_folders)"/>
      <arg name="veh_index" value="$(eval arg('veh_index') + 1)" />
      <arg name="use_rqt_display" value="$(arg use_rqt_display)"/>
      <arg name="rviz_config" value="$(arg rviz_config)" />
      <arg name="rviz_mult_config" value="$(arg rviz_mult_config)" />
      <arg name="use_lidar_obstacle_detector" value="$(arg use_lidar_obstacle_detector)" />
      <arg name="local_planner_method" value="$(arg local_planner_method)" />
      <arg name="waypoint_mode" value="$(arg waypoint_mode)"/>
      <arg name="simulation_mode" value="$(arg simulation_mode)"/>
      <arg name="use_global_path" value="$(arg use_global_path)"/>
    </include>
  </group>

  <!-- Uncomment this section to use the MAVS simlator.
       Must have MAVS built and installed and the 
       mavs_avt_example catkin package built. -->
  <!--
  <include file="$(find mavs_avt_example)/launch/mavs_sim.launch">
    <arg name="cmd_vel_topic_arg" default="avt_341/cmd_vel" />
    <arg name="point_cloud_topic_arg" default="avt_341/points" />
    <arg name="odometry_topic_arg" default="avt_341/odometry" />
  </include>
  -->

</launch>