<launch>

  <arg name="vehicle_namespaces" default="['agv1', 'agv2', 'cgv1', 'cgv2']" />
  <arg name="use_leader_breadcrumbs" default="false" />
  <arg name="num_vehicles" default="4" />
  <arg name="clear_method_type" default="raytrace" />
  <arg name="slope_threshold" default="0.4" />
  <arg name="dwa_w_cost_path" default="2.0" />

  <include file="$(find avt_341)/launch/uab_base.launch">
    <arg name="waypoints_file" value="$(find avt_341)/config/no_waypoints.yaml" />
    <arg name="robot_description_file" value="$(find avt_341)/config/avt_fed.urdf" />
    <arg name="cost_vis" value="final" />

    <!-- perception -->
    <arg name="grid_llx" value="-476.0" />
    <arg name="grid_lly" value="-944.0" />
    <arg name="grid_width" value="1971.0" />
    <arg name="grid_height" value="3696.0" />
    <arg name="grid_res" value="1.0" />
    <arg name="grid_dilate" value="true" />
    <arg name="grid_dilate_x" value="1.0" />
    <arg name="grid_dilate_y" value="1.0" />
    <!-- <arg name="clear_method_type" value="$(arg clear_method_type)" />
    <arg name="clear_method_voxel_height_min" value="150.0" />
    <arg name="clear_method_voxel_height_res" value="0.2" />
    <arg name="clear_method_immediate_clear_dilation" value="true" />
    <arg name="clear_method_obs_filter_range" value="1.0" />
    <arg name="clear_method_sampled_threshold" value="5" />
    <arg name="clear_method_max_point_age" value="0.25" />
    <arg name="max_point_age" value="3.0" /> -->
    <arg name="path_look_ahead" value="15.0" />
    <arg name="vehicle_speed" value="8.0" />
    <arg name="goal_dist" value="10.0" />
    <arg name="vehicle_width" value="1.6" />

    <arg name="slope_threshold" value="0.4" />
    <arg name="stitch_lidar_points" value="false" />

    <arg name="max_steer_angle" value="0.8" />
    <arg name="max_desired_lateral_g" value="3000.0" />
    <arg name="shutdown_behavior" value="1" />

    <!--  dwa local planner -->
    <arg name="local_planner_method" value="dwa" />
    <arg name="dwa_speed_lin_min" value="2.0" />
    <arg name="dwa_speed_lin_max" value="6.0" />
    <arg name="dwa_accel_max" value="4.0" />
    <arg name="dwa_speed_ang_min" value="-0.785" />
    <arg name="dwa_speed_ang_max" value="0.785" />
    <arg name="dwa_ang_accel_max" value="10.0" />
    <arg name="dwa_lat_accel_max" value="1.5" />
    <arg name="dwa_time_span_min" value="3.0" />
    <arg name="dwa_w_cost_dev" value="0.2" />
    <arg name="dwa_use_global_path" value="true" />
    <arg name="dwa_w_cost_path" value="$(arg dwa_w_cost_path)" />
    <arg name="dwa_collision_radius" value="1.5" />
    <arg name="dwa_search_radius" value="10.0" />
    <arg name="vehicle_max_steer_angle_degrees" value="45.0" />

    <!--  Speed controller -->
    <arg name="throttle_kp" value="0.1" />
    <arg name="throttle_ki" value="0.05" />
    <arg name="anti_windup_method" value="output_clamping" />

    <!--  A* planner -->
    <arg name="los_max_iterations" value="5" />
    <arg name="los_break_on_first" value="false" />
    <arg name="search_diagonals" value="true" />

    <!--  Formation control -->
    <arg name="num_vehicles" value="$(arg num_vehicles)" />
    <arg name="broadcast_over_ros" value="true" />
    <arg name="follow_scale_x" value="6.0" />
    <arg name="follow_scale_y" value="10.0" />
    <arg name="x_offset_on_path" value="false" />
    <arg name="use_leader_breadcrumbs" value="$(arg use_leader_breadcrumbs)" />
    <arg name="formation_prune_gp" value="true" />

    <arg name="oof_threshold" value="30.0" />
    <arg name="oof_const_term" value="0.0" />
    <arg name="oof_lin_slope" value="0.05" />
    <arg name="follower_dist_break" value="10.0" />

    <arg name="vehicle_namespaces" value="$(arg vehicle_namespaces)" />
    <arg name="formation_debug_visualize" value="true" />
    <arg name="offsets_from_leader" value="false" />

  </include>


</launch>