<launch>

  <!-- General  -->
  <arg name="use_sim_time" default="false" />
  <arg name="auto_launch_rviz" default="true" />
  <arg name="display_type" default="rviz" />
  <arg name="waypoints_file" default="$(find avt_341)/config/no_waypoints.yaml" />
  <arg name="num_vehicles" default="1" />
  <arg name="namespace_single_vehicle" default="false" />
  <arg name="vehicle_namespaces" default="['agv1', 'agv2', 'cgv1', 'cgv2']" />
  <arg name="robot_description_file" default="" />
  <arg name="robot_description_veh2_file" default="" />
  <arg name="robot_description_veh3_file" default="" />
  <arg name="robot_description_veh4_file" default="" />

  <!-- Elevation Grid  -->
  <arg name="use_elevation" default="false" />
  <arg name="slope_threshold" default="0.5" />
  <arg name="grid_height" default="200.0" />
  <arg name="grid_width" default="200.0" />
  <arg name="grid_llx" default="-100.0" />
  <arg name="grid_lly" default="-100.0" />
  <arg name="grid_res" default="0.5" />
  <arg name="overhead_clearance" default="7.0" />
  <arg name="grid_dilate" default="false" />
  <arg name="grid_dilate_x" default="2.0" />
  <arg name="grid_dilate_y" default="2.0" />
  <arg name="grid_dilate_proportion" default="0.8" />
  <arg name="cull_lidar" default="false" />
  <arg name="cull_lidar_dist" default="90.0" />
  <arg name="cull_lidar_dist_min" default="0.0" />
  <arg name="warmup_time" default="5.0" />
  <arg name="stitch_lidar_points" default="true" />
  <arg name="filter_highest_lidar" default="false" />
  <arg name="time_register_window" default="0.05" />
  <arg name="perception_rate" default="20.0" />
  <arg name="global_grid_csv_path" default="$(find avt_341)/config/KRC_CP06_Scaled_Transposed.csv" />
  <arg name="use_lidar_obstacle_detector" default="false" />
  <arg name="raw_points_topic" default="/avt_341/points" />
  <arg name="perception_points_topic" default="/avt_341/points" />
  <arg name="clear_method_type" default="none" />
  <arg name="clear_method_visualize" default="false" />
  <arg name="clear_method_visualize_range" default="40.0" />
  <arg name="clear_method_raytrace_range" default="50.0" />
  <arg name="clear_method_use_voxels" default="true" />
  <arg name="clear_method_voxel_height_min" default="0.0" />
  <arg name="clear_method_voxel_height_res" default="0.5" />
  <arg name="clear_method_immediate_clear_dilation" default="true" />
  <arg name="clear_method_obs_filter_range" default="1.0" />
  <arg name="clear_method_max_point_age" default="5.0" />
  <arg name="clear_method_sampled_threshold" default="5" />

  <!-- Global Planner  -->
  <arg name="goal_dist" default="5.0" />
  <arg name="global_lookahead" default="75.0" />
  <arg name="debug_visualize" default="false" />
  <arg name="w_distance" default="1.0" />
  <arg name="w_occupancy" default="1.0" />
  <arg name="w_segmentation" default="1.0" />
  <arg name="search_diagonals" default="false" />
  <arg name="los_max_iterations" default="1" />
  <arg name="los_break_on_first" default="true" />
  <arg name="shutdown_behavior" default="2" />
  <arg name="auto_active_on_new_waypoint" default="true" />
  <arg name="verbose_gp_log" default="false" />

  <!-- Local Planner  -->
  <arg name="local_planner_method" default="rcc" />
  <arg name="num_paths" default="21" />
  <arg name="path_look_ahead" default="30.0" />
  <arg name="vehicle_width" default="3.0" />
  <arg name="max_steer_angle" default="0.5" />
  <arg name="output_path_step" default="0.5" />
  <arg name="path_integration_step" default="0.35" />
  <arg name="dilation_factor" default="1" />
  <arg name="w_c" default="0.0" />
  <arg name="w_s" default="0.4" />
  <arg name="w_d" default="0.0" />
  <arg name="w_r" default="0.2" />
  <arg name="w_t" default="0.0" />
  <arg name="trim_path" default="true" />
  <arg name="use_global_path" default="true" />
  <arg name="use_blend" default="true" />
  <arg name="cost_vis" default="final" />
  <arg name="cost_vis_text_size" default="2.0" />
  <arg name="ignore_coll_before_dist" default="0.0" />
  <arg name="pf_use_global_path" default="false" />
  <arg name="pf_rate" default="10.0" />
  <arg name="pf_obstacle_cost_thresh" default="50" />
  <arg name="pf_kp" default="10.0" />
  <arg name="pf_eta" default="7.5" />
  <arg name="pf_cutoff_dist" default="40.0" />
  <arg name="pf_inner_cutoff_dist" default="0.0" />
  <arg name="pf_motion_model_res" default="0.25" />
  <arg name="dwa_model" default="ackermann" />
  <arg name="dwa_wheelbase" default="2.72" />
  <arg name="dwa_speed_lin_min" default="0.15" />
  <arg name="dwa_speed_lin_max" default="4.0" />
  <arg name="dwa_speed_lin_steps" default="10" />
  <arg name="dwa_accel_max" default="3.0" />
  <arg name="dwa_speed_ang_min" default="-0.58" />
  <arg name="dwa_speed_ang_max" default="0.58" />
  <arg name="dwa_speed_ang_steps" default="40" />
  <arg name="dwa_ang_accel_max" default="4.0" />
  <arg name="dwa_lat_accel_max" default="9.81" />
  <arg name="dwa_horizon" default="adaptive" />
  <arg name="dwa_time_span_min" default="2.5" />
  <arg name="dwa_time_span_max" default="10.0" />
  <arg name="dwa_time_span_var" default="4.5" />
  <arg name="dwa_time_span_gain" default="1.1" />
  <arg name="dwa_time_step_min" default="0.2" />
  <arg name="dwa_w_cost_goal" default="1.0" />
  <arg name="dwa_w_cost_head" default="0.001" />
  <arg name="dwa_thresh_obs" default="0" />
  <arg name="dwa_collision_radius" default="2.25" />
  <arg name="dwa_search_radius" default="10.0" />
  <arg name="dwa_w_cost_obs" default="1.5" />
  <arg name="dwa_w_cost_speed" default="0.0" />
  <arg name="dwa_use_global_path" default="false" />
  <arg name="dwa_w_cost_path" default="0.0" />
  <arg name="dwa_use_segmentation" default="false" />
  <arg name="dwa_w_cost_seg" default="0.0" />
  <arg name="dwa_w_cost_dev" default="0.75" />
  <arg name="dwa_print_summary" default="false" />

  <!-- Pure Pursuit Control  -->
  <arg name="vehicle_wheelbase" default="2.72" />
  <arg name="vehicle_max_steer_angle_degrees" default="30.0" />
  <arg name="steering_coefficient" default="3.5" />
  <arg name="vehicle_speed" default="7.0" />
  <arg name="throttle_coefficient" default="1.0" />
  <arg name="throttle_kp" default="0.11" />
  <arg name="throttle_ki" default="0.0" />
  <arg name="throttle_kd" default="0.0" />
  <arg name="time_to_max_brake" default="4.0" />
  <arg name="time_to_max_throttle" default="3.0" />
  <arg name="use_feed_forward" default="false" />
  <arg name="ff_a0" default="0.2856" />
  <arg name="ff_a1" default="0.0321" />
  <arg name="ff_a2" default="0.0" />
  <arg name="max_desired_lateral_g" default="0.75" />
  <arg name="anti_windup_method" default="disabled" />
  <arg name="pid_output_max" default="1.0" />
  <arg name="pid_output_min" default="0.0" />

  <!-- Mission Manager -->
  <arg name="follow_scale_x" default="15.0" />
  <arg name="follow_scale_y" default="10.0" />
  <arg name="mission_definition_file" default="$(find avt_341)/config/mission_points.csv" />
  <arg name="fsc_type" default="slow_down_leader" />
  <arg name="x_offset_on_path" default="false" />
  <arg name="formation_prune_gp" default="true" />
  <arg name="follow_goal_threshold" default="10.0" />
  <arg name="formation_debug_visualize" default="false" />
  <arg name="offsets_from_leader" default="true" />
  <arg name="follower_dist_break" default="10.0" />
  <arg name="follower_dot_threshold" default="0.0" />
  <arg name="follower_dot_range" default="30.0" />
  <arg name="use_leader_breadcrumbs" default="true" />
  <arg name="oof_threshold" default="15.0" />
  <arg name="oof_const_term" default="0.3" />
  <arg name="oof_lin_slope" default="0.03" />
  <arg name="oof_mult" default="1.5" />
  <arg name="toi_approach_dist" default="15.0" />
  <arg name="toi_encircle_radius" default="10.0" />
  <arg name="toi_encircle_degrees" default="180.0" />
  <arg name="toi_encircle_cw" default="true" />
  <arg name="ot_tracking_veh" default="" />
  <arg name="ot_tracked_veh" default="" />

  <!-- Comm Node -->
  <arg name="host" default="localhost" />
  <arg name="port" default="9000" />
  <arg name="broadcast_over_ros" default="false" />
  <arg name="verbose_comm_log" default="false" />

  <arg name="veh_index" default="0" />

  <!-- ********************* END OF ARGS ***********************************-->

  <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  <rosparam file="$(arg waypoints_file)" />
  <param name="robot_description" textfile="$(arg robot_description_file)" />

  <group if="$(eval arg('num_vehicles') > arg('veh_index'))" ns="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '/')" >

  <group if="$(eval env('ROS_DISTRO') != 'lunar' and env('ROS_DISTRO') != 'kinetic')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="tf_prefix" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '')" />
    </node>
  </group>
  <group if="$(eval env('ROS_DISTRO') == 'lunar' or env('ROS_DISTRO') == 'kinetic')">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
        <param name="tf_prefix" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '')" />
    </node>
  </group>

  <node pkg="tf" name="static_transform_publisher" type="static_transform_publisher" args="0 0 0 0 0 0 1 map odom 10" />
  <node name="state_publisher" pkg="avt_341" type="avt_bot_state_publisher_node" output="screen" >
    <param name="frame_prefix" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')] if arg('num_vehicles') > 1 or arg('namespace_single_vehicle') else '')" />
  </node>

  <!-- Lidar perception algorithms  -->
  <node name="perception_node" pkg="avt_341" type="avt_341_perception_node" required="true" output="screen">
    <remap from="/avt_341/points" to="$(arg perception_points_topic)"/>
    <param name="display" value="$(arg display_type)" />
    <param name="use_elevation" value="$(arg use_elevation)" />
    <param name="slope_threshold" value="$(arg slope_threshold)" />
    <param name="grid_height" value="$(arg grid_height)" />
    <param name="grid_width" value="$(arg grid_width)" />
    <param name="grid_llx" value="$(arg grid_llx)" />
    <param name="grid_lly" value="$(arg grid_lly)" />
    <param name="grid_res" value="$(arg grid_res)" />
    <param name="overhead_clearance" value="$(arg overhead_clearance)" />
    <param name="grid_dilate" value="$(arg grid_dilate)" />
    <param name="grid_dilate_x" value="$(arg grid_dilate_x)" />
    <param name="grid_dilate_y" value="$(arg grid_dilate_y)" />
    <param name="grid_dilate_proportion" value="$(arg grid_dilate_proportion)" />
    <param name="cull_lidar" value="$(arg cull_lidar)" />
    <param name="cull_lidar_dist" value="$(arg cull_lidar_dist)" />
    <param name="cull_lidar_dist_min" value="$(arg cull_lidar_dist_min)" />
    <param name="warmup_time" value="$(arg warmup_time)" />
    <param name="stitch_lidar_points" value="$(arg stitch_lidar_points)" />
    <param name="filter_highest_lidar" value="$(arg filter_highest_lidar)" />
    <param name="time_register_window" value="$(arg time_register_window)" />
    <param name="perception_rate" value="$(arg perception_rate)" />
    <param name="global_grid_csv_path" value="$(arg global_grid_csv_path)" />
    <param name="use_lidar_obstacle_detector" value="$(arg use_lidar_obstacle_detector)" />
    <param name="clear_method_type" value="$(arg clear_method_type)" />
    <param name="clear_method_visualize" value="$(arg clear_method_visualize)" />
    <param name="clear_method_visualize_range" value="$(arg clear_method_visualize_range)" />
    <param name="clear_method_raytrace_range" value="$(arg clear_method_raytrace_range)" />
    <param name="clear_method_use_voxels" value="$(arg clear_method_use_voxels)" />
    <param name="clear_method_voxel_height_min" value="$(arg clear_method_voxel_height_min)" />
    <param name="clear_method_voxel_height_res" value="$(arg clear_method_voxel_height_res)" />
    <param name="clear_method_immediate_clear_dilation" value="$(arg clear_method_immediate_clear_dilation)" />
    <param name="clear_method_obs_filter_range" value="$(arg clear_method_obs_filter_range)" />
    <param name="clear_method_max_point_age" value="$(arg clear_method_max_point_age)" />
    <param name="clear_method_sampled_threshold" value="$(arg clear_method_sampled_threshold)" />
  </node>

  <node name="uab_perception_node" pkg="avt_341" type="uab_perception_node" required="true" output="screen">
    <param name="grid_height" value="$(arg grid_height)" />
    <param name="grid_width" value="$(arg grid_width)" />
    <param name="grid_llx" value="$(arg grid_llx)" />
    <param name="grid_lly" value="$(arg grid_lly)" />
    <param name="grid_res" value="$(arg grid_res)" />
  </node>

  <node name="grid_compression_node" pkg="avt_341" type="avt_341_grid_compression_node" required="true" output="screen"/>

  <group if="$(eval arg('local_planner_method') != 'dwa')">
      <node name="vehicle_control_node" pkg="avt_341" type="avt_341_control_node" required="true" output="screen" >
        <param name="vehicle_wheelbase" value="$(arg vehicle_wheelbase)" />
        <param name="vehicle_max_steer_angle_degrees" value="$(arg vehicle_max_steer_angle_degrees)" />
        <param name="steering_coefficient" value="$(arg steering_coefficient)" />
        <param name="vehicle_speed" value="$(arg vehicle_speed)" />
        <param name="throttle_coefficient" value="$(arg throttle_coefficient)" />
        <param name="throttle_kp" value="$(arg throttle_kp)" />
        <param name="throttle_ki" value="$(arg throttle_ki)" />
        <param name="throttle_kd" value="$(arg throttle_kd)" />
        <param name="time_to_max_brake" value="$(arg time_to_max_brake)" />
        <param name="time_to_max_throttle" value="$(arg time_to_max_throttle)" />
        <param name="use_feed_forward" value="$(arg use_feed_forward)" />
        <param name="ff_a0" value="$(arg ff_a0)" />
        <param name="ff_a1" value="$(arg ff_a1)" />
        <param name="ff_a2" value="$(arg ff_a2)" />
        <param name="max_desired_lateral_g" value="$(arg max_desired_lateral_g)" />
        <param name="anti_windup_method" value="$(arg anti_windup_method)" />
        <param name="pid_output_max" value="$(arg pid_output_max)" />
        <param name="pid_output_min" value="$(arg pid_output_min)" />
      </node>
  </group>

  <group if="$(eval arg('local_planner_method') == 'dwa')">
      <node name="vehicle_control_node" pkg="avt_341" type="avt_341_speed_control_node" required="true" output="screen" >
        <param name="vehicle_wheelbase" value="$(arg vehicle_wheelbase)" />
        <param name="vehicle_max_steer_angle_degrees" value="$(arg vehicle_max_steer_angle_degrees)" />
        <param name="steering_coefficient" value="$(arg steering_coefficient)" />
        <param name="vehicle_speed" value="$(arg vehicle_speed)" />
        <param name="throttle_coefficient" value="$(arg throttle_coefficient)" />
        <param name="throttle_kp" value="$(arg throttle_kp)" />
        <param name="throttle_ki" value="$(arg throttle_ki)" />
        <param name="throttle_kd" value="$(arg throttle_kd)" />
        <param name="time_to_max_brake" value="$(arg time_to_max_brake)" />
        <param name="time_to_max_throttle" value="$(arg time_to_max_throttle)" />
        <param name="use_feed_forward" value="$(arg use_feed_forward)" />
        <param name="ff_a0" value="$(arg ff_a0)" />
        <param name="ff_a1" value="$(arg ff_a1)" />
        <param name="ff_a2" value="$(arg ff_a2)" />
        <param name="max_desired_lateral_g" value="$(arg max_desired_lateral_g)" />
        <param name="anti_windup_method" value="$(arg anti_windup_method)" />
        <param name="pid_output_max" value="$(arg pid_output_max)" />
        <param name="pid_output_min" value="$(arg pid_output_min)" />
      </node>
  </group>

  <node name="global_path_node" pkg="avt_341" type="avt_341_global_path_node" required="true" output="screen" >
    <param name="display" value="$(arg display_type)" />
    <param name="goal_dist" value="$(arg goal_dist)" />
    <param name="global_lookahead" value="$(arg global_lookahead)" />
    <param name="debug_visualize" value="$(arg debug_visualize)" />
    <param name="w_distance" value="$(arg w_distance)" />
    <param name="w_occupancy" value="$(arg w_occupancy)" />
    <param name="w_segmentation" value="$(arg w_segmentation)" />
    <param name="search_diagonals" value="$(arg search_diagonals)" />
    <param name="los_max_iterations" value="$(arg los_max_iterations)" />
    <param name="los_break_on_first" value="$(arg los_break_on_first)" />
    <param name="shutdown_behavior" value="$(arg shutdown_behavior)" />
    <param name="auto_active_on_new_waypoint" value="$(arg auto_active_on_new_waypoint)" />
    <param name="verbose_gp_log" value="$(arg verbose_gp_log)" />
  </node>

  <group if="$(eval arg('local_planner_method') == 'rcc')">
    <node name="local_planner_node" pkg="avt_341" type="avt_341_local_planner_node" output="screen" required="true" >
      <param name="display" value="$(arg display_type)" />
      <param name="local_planner_method" value="$(arg local_planner_method)" />
      <param name="num_paths" value="$(arg num_paths)" />
      <param name="path_look_ahead" value="$(arg path_look_ahead)" />
      <param name="vehicle_width" value="$(arg vehicle_width)" />
      <param name="max_steer_angle" value="$(arg max_steer_angle)" />
      <param name="output_path_step" value="$(arg output_path_step)" />
      <param name="path_integration_step" value="$(arg path_integration_step)" />
      <param name="dilation_factor" value="$(arg dilation_factor)" />
      <param name="w_c" value="$(arg w_c)" />
      <param name="w_s" value="$(arg w_s)" />
      <param name="w_d" value="$(arg w_d)" />
      <param name="w_r" value="$(arg w_r)" />
      <param name="w_t" value="$(arg w_t)" />
      <param name="trim_path" value="$(arg trim_path)" />
      <param name="use_global_path" value="$(arg use_global_path)" />
      <param name="use_blend" value="$(arg use_blend)" />
      <param name="cost_vis" value="$(arg cost_vis)" />
      <param name="cost_vis_text_size" value="$(arg cost_vis_text_size)" />
      <param name="ignore_coll_before_dist" value="$(arg ignore_coll_before_dist)" />
      <param name="pf_use_global_path" value="$(arg pf_use_global_path)" />
      <param name="pf_rate" value="$(arg pf_rate)" />
      <param name="pf_obstacle_cost_thresh" value="$(arg pf_obstacle_cost_thresh)" />
      <param name="pf_kp" value="$(arg pf_kp)" />
      <param name="pf_eta" value="$(arg pf_eta)" />
      <param name="pf_cutoff_dist" value="$(arg pf_cutoff_dist)" />
      <param name="pf_inner_cutoff_dist" value="$(arg pf_inner_cutoff_dist)" />
      <param name="pf_motion_model_res" value="$(arg pf_motion_model_res)" />
      <param name="dwa_model" value="$(arg dwa_model)" />
      <param name="dwa_wheelbase" value="$(arg dwa_wheelbase)" />
      <param name="dwa_speed_lin_min" value="$(arg dwa_speed_lin_min)" />
      <param name="dwa_speed_lin_max" value="$(arg dwa_speed_lin_max)" />
      <param name="dwa_speed_lin_steps" value="$(arg dwa_speed_lin_steps)" />
      <param name="dwa_accel_max" value="$(arg dwa_accel_max)" />
      <param name="dwa_speed_ang_min" value="$(arg dwa_speed_ang_min)" />
      <param name="dwa_speed_ang_max" value="$(arg dwa_speed_ang_max)" />
      <param name="dwa_speed_ang_steps" value="$(arg dwa_speed_ang_steps)" />
      <param name="dwa_ang_accel_max" value="$(arg dwa_ang_accel_max)" />
      <param name="dwa_lat_accel_max" value="$(arg dwa_lat_accel_max)" />
      <param name="dwa_horizon" value="$(arg dwa_horizon)" />
      <param name="dwa_time_span_min" value="$(arg dwa_time_span_min)" />
      <param name="dwa_time_span_max" value="$(arg dwa_time_span_max)" />
      <param name="dwa_time_span_var" value="$(arg dwa_time_span_var)" />
      <param name="dwa_time_span_gain" value="$(arg dwa_time_span_gain)" />
      <param name="dwa_time_step_min" value="$(arg dwa_time_step_min)" />
      <param name="dwa_w_cost_goal" value="$(arg dwa_w_cost_goal)" />
      <param name="dwa_w_cost_head" value="$(arg dwa_w_cost_head)" />
      <param name="dwa_thresh_obs" value="$(arg dwa_thresh_obs)" />
      <param name="dwa_collision_radius" value="$(arg dwa_collision_radius)" />
      <param name="dwa_search_radius" value="$(arg dwa_search_radius)" />
      <param name="dwa_w_cost_obs" value="$(arg dwa_w_cost_obs)" />
      <param name="dwa_w_cost_speed" value="$(arg dwa_w_cost_speed)" />
      <param name="dwa_use_global_path" value="$(arg dwa_use_global_path)" />
      <param name="dwa_w_cost_path" value="$(arg dwa_w_cost_path)" />
      <param name="dwa_use_segmentation" value="$(arg dwa_use_segmentation)" />
      <param name="dwa_w_cost_seg" value="$(arg dwa_w_cost_seg)" />
      <param name="dwa_w_cost_dev" value="$(arg dwa_w_cost_dev)" />
      <param name="dwa_print_summary" value="$(arg dwa_print_summary)" />
    </node>
  </group>

  <group if="$(eval arg('local_planner_method') == 'dwa')">
    <node name="local_dwa_planner_node" pkg="avt_341" type="avt_341_dwa_planner_node" output="screen" required="true" >
      <param name="local_planner_method" value="$(arg local_planner_method)" />
      <param name="num_paths" value="$(arg num_paths)" />
      <param name="path_look_ahead" value="$(arg path_look_ahead)" />
      <param name="vehicle_width" value="$(arg vehicle_width)" />
      <param name="max_steer_angle" value="$(arg max_steer_angle)" />
      <param name="output_path_step" value="$(arg output_path_step)" />
      <param name="path_integration_step" value="$(arg path_integration_step)" />
      <param name="dilation_factor" value="$(arg dilation_factor)" />
      <param name="w_c" value="$(arg w_c)" />
      <param name="w_s" value="$(arg w_s)" />
      <param name="w_d" value="$(arg w_d)" />
      <param name="w_r" value="$(arg w_r)" />
      <param name="w_t" value="$(arg w_t)" />
      <param name="trim_path" value="$(arg trim_path)" />
      <param name="use_global_path" value="$(arg use_global_path)" />
      <param name="use_blend" value="$(arg use_blend)" />
      <param name="cost_vis" value="$(arg cost_vis)" />
      <param name="cost_vis_text_size" value="$(arg cost_vis_text_size)" />
      <param name="ignore_coll_before_dist" value="$(arg ignore_coll_before_dist)" />
      <param name="pf_use_global_path" value="$(arg pf_use_global_path)" />
      <param name="pf_rate" value="$(arg pf_rate)" />
      <param name="pf_obstacle_cost_thresh" value="$(arg pf_obstacle_cost_thresh)" />
      <param name="pf_kp" value="$(arg pf_kp)" />
      <param name="pf_eta" value="$(arg pf_eta)" />
      <param name="pf_cutoff_dist" value="$(arg pf_cutoff_dist)" />
      <param name="pf_inner_cutoff_dist" value="$(arg pf_inner_cutoff_dist)" />
      <param name="pf_motion_model_res" value="$(arg pf_motion_model_res)" />
      <param name="dwa_model" value="$(arg dwa_model)" />
      <param name="dwa_wheelbase" value="$(arg dwa_wheelbase)" />
      <param name="dwa_speed_lin_min" value="$(arg dwa_speed_lin_min)" />
      <param name="dwa_speed_lin_max" value="$(arg dwa_speed_lin_max)" />
      <param name="dwa_speed_lin_steps" value="$(arg dwa_speed_lin_steps)" />
      <param name="dwa_accel_max" value="$(arg dwa_accel_max)" />
      <param name="dwa_speed_ang_min" value="$(arg dwa_speed_ang_min)" />
      <param name="dwa_speed_ang_max" value="$(arg dwa_speed_ang_max)" />
      <param name="dwa_speed_ang_steps" value="$(arg dwa_speed_ang_steps)" />
      <param name="dwa_ang_accel_max" value="$(arg dwa_ang_accel_max)" />
      <param name="dwa_lat_accel_max" value="$(arg dwa_lat_accel_max)" />
      <param name="dwa_horizon" value="$(arg dwa_horizon)" />
      <param name="dwa_time_span_min" value="$(arg dwa_time_span_min)" />
      <param name="dwa_time_span_max" value="$(arg dwa_time_span_max)" />
      <param name="dwa_time_span_var" value="$(arg dwa_time_span_var)" />
      <param name="dwa_time_span_gain" value="$(arg dwa_time_span_gain)" />
      <param name="dwa_time_step_min" value="$(arg dwa_time_step_min)" />
      <param name="dwa_w_cost_goal" value="$(arg dwa_w_cost_goal)" />
      <param name="dwa_w_cost_head" value="$(arg dwa_w_cost_head)" />
      <param name="dwa_thresh_obs" value="$(arg dwa_thresh_obs)" />
      <param name="dwa_collision_radius" value="$(arg dwa_collision_radius)" />
      <param name="dwa_search_radius" value="$(arg dwa_search_radius)" />
      <param name="dwa_w_cost_obs" value="$(arg dwa_w_cost_obs)" />
      <param name="dwa_w_cost_speed" value="$(arg dwa_w_cost_speed)" />
      <param name="dwa_use_global_path" value="$(arg dwa_use_global_path)" />
      <param name="dwa_w_cost_path" value="$(arg dwa_w_cost_path)" />
      <param name="dwa_use_segmentation" value="$(arg dwa_use_segmentation)" />
      <param name="dwa_w_cost_seg" value="$(arg dwa_w_cost_seg)" />
      <param name="dwa_w_cost_dev" value="$(arg dwa_w_cost_dev)" />
      <param name="dwa_print_summary" value="$(arg dwa_print_summary)" />
    </node>
  </group>

  <group if="$(eval arg('local_planner_method') == 'pf')">
    <node name="local_pf_planner_node" pkg="avt_341" type="avt_341_pf_planner_node" output="screen" required="true" >
      <param name="local_planner_method" value="$(arg local_planner_method)" />
      <param name="num_paths" value="$(arg num_paths)" />
      <param name="path_look_ahead" value="$(arg path_look_ahead)" />
      <param name="vehicle_width" value="$(arg vehicle_width)" />
      <param name="max_steer_angle" value="$(arg max_steer_angle)" />
      <param name="output_path_step" value="$(arg output_path_step)" />
      <param name="path_integration_step" value="$(arg path_integration_step)" />
      <param name="dilation_factor" value="$(arg dilation_factor)" />
      <param name="w_c" value="$(arg w_c)" />
      <param name="w_s" value="$(arg w_s)" />
      <param name="w_d" value="$(arg w_d)" />
      <param name="w_r" value="$(arg w_r)" />
      <param name="w_t" value="$(arg w_t)" />
      <param name="trim_path" value="$(arg trim_path)" />
      <param name="use_global_path" value="$(arg use_global_path)" />
      <param name="use_blend" value="$(arg use_blend)" />
      <param name="cost_vis" value="$(arg cost_vis)" />
      <param name="cost_vis_text_size" value="$(arg cost_vis_text_size)" />
      <param name="ignore_coll_before_dist" value="$(arg ignore_coll_before_dist)" />
      <param name="pf_use_global_path" value="$(arg pf_use_global_path)" />
      <param name="pf_rate" value="$(arg pf_rate)" />
      <param name="pf_obstacle_cost_thresh" value="$(arg pf_obstacle_cost_thresh)" />
      <param name="pf_kp" value="$(arg pf_kp)" />
      <param name="pf_eta" value="$(arg pf_eta)" />
      <param name="pf_cutoff_dist" value="$(arg pf_cutoff_dist)" />
      <param name="pf_inner_cutoff_dist" value="$(arg pf_inner_cutoff_dist)" />
      <param name="pf_motion_model_res" value="$(arg pf_motion_model_res)" />
      <param name="dwa_model" value="$(arg dwa_model)" />
      <param name="dwa_wheelbase" value="$(arg dwa_wheelbase)" />
      <param name="dwa_speed_lin_min" value="$(arg dwa_speed_lin_min)" />
      <param name="dwa_speed_lin_max" value="$(arg dwa_speed_lin_max)" />
      <param name="dwa_speed_lin_steps" value="$(arg dwa_speed_lin_steps)" />
      <param name="dwa_accel_max" value="$(arg dwa_accel_max)" />
      <param name="dwa_speed_ang_min" value="$(arg dwa_speed_ang_min)" />
      <param name="dwa_speed_ang_max" value="$(arg dwa_speed_ang_max)" />
      <param name="dwa_speed_ang_steps" value="$(arg dwa_speed_ang_steps)" />
      <param name="dwa_ang_accel_max" value="$(arg dwa_ang_accel_max)" />
      <param name="dwa_lat_accel_max" value="$(arg dwa_lat_accel_max)" />
      <param name="dwa_horizon" value="$(arg dwa_horizon)" />
      <param name="dwa_time_span_min" value="$(arg dwa_time_span_min)" />
      <param name="dwa_time_span_max" value="$(arg dwa_time_span_max)" />
      <param name="dwa_time_span_var" value="$(arg dwa_time_span_var)" />
      <param name="dwa_time_span_gain" value="$(arg dwa_time_span_gain)" />
      <param name="dwa_time_step_min" value="$(arg dwa_time_step_min)" />
      <param name="dwa_w_cost_goal" value="$(arg dwa_w_cost_goal)" />
      <param name="dwa_w_cost_head" value="$(arg dwa_w_cost_head)" />
      <param name="dwa_thresh_obs" value="$(arg dwa_thresh_obs)" />
      <param name="dwa_collision_radius" value="$(arg dwa_collision_radius)" />
      <param name="dwa_search_radius" value="$(arg dwa_search_radius)" />
      <param name="dwa_w_cost_obs" value="$(arg dwa_w_cost_obs)" />
      <param name="dwa_w_cost_speed" value="$(arg dwa_w_cost_speed)" />
      <param name="dwa_use_global_path" value="$(arg dwa_use_global_path)" />
      <param name="dwa_w_cost_path" value="$(arg dwa_w_cost_path)" />
      <param name="dwa_use_segmentation" value="$(arg dwa_use_segmentation)" />
      <param name="dwa_w_cost_seg" value="$(arg dwa_w_cost_seg)" />
      <param name="dwa_w_cost_dev" value="$(arg dwa_w_cost_dev)" />
      <param name="dwa_print_summary" value="$(arg dwa_print_summary)" />
    </node>
  </group>

  <node name="grid_compression" pkg="avt_341" type="avt_341_grid_compression_node" output="screen">
  </node>


  <node name="mission_manager_node" pkg="avt_341" type="avt_341_mission_manager_node" output="screen">
    <param name="name" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')].upper())"/>
    <param name="follow_scale_x" value="$(arg follow_scale_x)" />
    <param name="follow_scale_y" value="$(arg follow_scale_y)" />
    <param name="mission_definition_file" value="$(arg mission_definition_file)" />
    <param name="fsc_type" value="$(arg fsc_type)" />
    <param name="x_offset_on_path" value="$(arg x_offset_on_path)" />
    <param name="formation_prune_gp" value="$(arg formation_prune_gp)" />
    <param name="follow_goal_threshold" value="$(arg follow_goal_threshold)" />
    <param name="formation_debug_visualize" value="$(arg formation_debug_visualize)" />
    <param name="offsets_from_leader" value="$(arg offsets_from_leader)" />
    <param name="follower_dist_break" value="$(arg follower_dist_break)" />
    <param name="follower_dot_threshold" value="$(arg follower_dot_threshold)" />
    <param name="follower_dot_range" value="$(arg follower_dot_range)" />
    <param name="use_leader_breadcrumbs" value="$(arg use_leader_breadcrumbs)" />
    <param name="oof_threshold" value="$(arg oof_threshold)" />
    <param name="oof_const_term" value="$(arg oof_const_term)" />
    <param name="oof_lin_slope" value="$(arg oof_lin_slope)" />
    <param name="oof_mult" value="$(arg oof_mult)" />
    <param name="toi_approach_dist" value="$(arg toi_approach_dist)" />
    <param name="toi_encircle_radius" value="$(arg toi_encircle_radius)" />
    <param name="toi_encircle_degrees" value="$(arg toi_encircle_degrees)" />
    <param name="toi_encircle_cw" value="$(arg toi_encircle_cw)" />
    <param name="toi_goal_threshold" value="$(arg goal_dist)" />
    <param name="ot_tracking_veh" value="$(arg ot_tracking_veh)" />
    <param name="ot_tracked_veh" value="$(arg ot_tracked_veh)" />
  </node>

  <node name="comm_node" pkg="avt_341" type="avt_341_comm_node" output="screen">
    <param name="name" value="$(eval eval(arg('vehicle_namespaces'))[arg('veh_index')].upper())"/>
    <param name="host" value="$(arg host)" />
    <param name="port" value="$(arg port)" />
    <param name="broadcast_over_ros" value="$(arg broadcast_over_ros)" />
    <param name="verbose_comm_log" value="$(arg verbose_comm_log)" />
  </node>

  <group if="$(eval arg('use_lidar_obstacle_detector'))">
    <node name="lidar_obstacle_detector_node" pkg="avt_341" type="avt_341_lidar_obstacle_detector_node" output="screen">
      <!-- Input Topic Names -->
      <param name="lidar_points_topic"                  value="$(arg raw_points_topic)"/>
      <!-- Output Topic Names -->
      <param name="cloud_ground_topic"                  value="/avt_341/lidar_detector/cloud_ground"/>
      <param name="cloud_clusters_topic"                value="/avt_341/lidar_detector/cloud_clusters"/>
      <param name="jsk_bboxes_topic"                    value="/avt_341/lidar_detector/jsk_bboxes"/>
      <!-- Parameters -->
      <param name="bbox_target_frame"                   value="base_link"/>
    </node>
  </group>

  <!-- rosrun rviz rviz -d $(rospack find avt_341)/rviz/avt_341.rviz -->
  <group if="$(eval arg('display_type') == 'rviz' and arg('auto_launch_rviz') and arg('veh_index') == 0 and arg('num_vehicles') == 1)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find avt_341)/rviz/avt_341.rviz" />
  </group>
  <group if="$(eval arg('display_type') == 'rviz' and arg('auto_launch_rviz') and arg('veh_index') == 0 and arg('num_vehicles') > 1)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find avt_341)/rviz/avt_341_multi_vehicle.rviz" />
  </group>


  </group>  <!-- / End group namespace -->

  <group if="$(eval arg('num_vehicles') > arg('veh_index'))">
    <include file="$(find avt_341)/launch/base.launch">
      <arg name="veh_index" value="$(eval arg('veh_index') + 1)" />
      <arg name="use_sim_time" value="$(arg use_sim_time)" />" />
      <arg name="auto_launch_rviz" value="$(arg auto_launch_rviz)" />" />
      <arg name="display_type" value="$(arg display_type)" />" />
      <arg name="waypoints_file" value="$(arg waypoints_file)" />" />
      <arg name="num_vehicles" value="$(arg num_vehicles)" />" />
      <arg name="namespace_single_vehicle" value="$(arg namespace_single_vehicle)" />" />
      <arg name="vehicle_namespaces" value="$(arg vehicle_namespaces)" />" />
      <arg name="robot_description_file" value="$(arg robot_description_file)" />" />
      <arg name="robot_description_veh2_file" value="$(arg robot_description_veh2_file)" />" />
      <arg name="robot_description_veh3_file" value="$(arg robot_description_veh3_file)" />" />
      <arg name="robot_description_veh4_file" value="$(arg robot_description_veh4_file)" />" />
      <arg name="use_elevation" value="$(arg use_elevation)" />" />
      <arg name="slope_threshold" value="$(arg slope_threshold)" />" />
      <arg name="grid_height" value="$(arg grid_height)" />" />
      <arg name="grid_width" value="$(arg grid_width)" />" />
      <arg name="grid_llx" value="$(arg grid_llx)" />" />
      <arg name="grid_lly" value="$(arg grid_lly)" />" />
      <arg name="grid_res" value="$(arg grid_res)" />" />
      <arg name="overhead_clearance" value="$(arg overhead_clearance)" />" />
      <arg name="grid_dilate" value="$(arg grid_dilate)" />" />
      <arg name="grid_dilate_x" value="$(arg grid_dilate_x)" />" />
      <arg name="grid_dilate_y" value="$(arg grid_dilate_y)" />" />
      <arg name="grid_dilate_proportion" value="$(arg grid_dilate_proportion)" />" />
      <arg name="cull_lidar" value="$(arg cull_lidar)" />" />
      <arg name="cull_lidar_dist" value="$(arg cull_lidar_dist)" />" />
      <arg name="cull_lidar_dist_min" value="$(arg cull_lidar_dist_min)" />" />
      <arg name="warmup_time" value="$(arg warmup_time)" />" />
      <arg name="stitch_lidar_points" value="$(arg stitch_lidar_points)" />" />
      <arg name="filter_highest_lidar" value="$(arg filter_highest_lidar)" />" />
      <arg name="time_register_window" value="$(arg time_register_window)" />" />
      <arg name="perception_rate" value="$(arg perception_rate)" />" />
      <arg name="global_grid_csv_path" value="$(arg global_grid_csv_path)" />" />
      <arg name="use_lidar_obstacle_detector" value="$(arg use_lidar_obstacle_detector)" />" />
      <arg name="raw_points_topic" value="$(arg raw_points_topic)" />" />
      <arg name="perception_points_topic" value="$(arg perception_points_topic)" />" />
      <arg name="clear_method_type" value="$(arg clear_method_type)" />" />
      <arg name="clear_method_visualize" value="$(arg clear_method_visualize)" />" />
      <arg name="clear_method_visualize_range" value="$(arg clear_method_visualize_range)" />" />
      <arg name="clear_method_raytrace_range" value="$(arg clear_method_raytrace_range)" />" />
      <arg name="clear_method_use_voxels" value="$(arg clear_method_use_voxels)" />" />
      <arg name="clear_method_voxel_height_min" value="$(arg clear_method_voxel_height_min)" />" />
      <arg name="clear_method_voxel_height_res" value="$(arg clear_method_voxel_height_res)" />" />
      <arg name="clear_method_immediate_clear_dilation" value="$(arg clear_method_immediate_clear_dilation)" />" />
      <arg name="clear_method_obs_filter_range" value="$(arg clear_method_obs_filter_range)" />" />
      <arg name="clear_method_max_point_age" value="$(arg clear_method_max_point_age)" />" />
      <arg name="clear_method_sampled_threshold" value="$(arg clear_method_sampled_threshold)" />" />
      <arg name="goal_dist" value="$(arg goal_dist)" />" />
      <arg name="global_lookahead" value="$(arg global_lookahead)" />" />
      <arg name="debug_visualize" value="$(arg debug_visualize)" />" />
      <arg name="w_distance" value="$(arg w_distance)" />" />
      <arg name="w_occupancy" value="$(arg w_occupancy)" />" />
      <arg name="w_segmentation" value="$(arg w_segmentation)" />" />
      <arg name="search_diagonals" value="$(arg search_diagonals)" />" />
      <arg name="los_max_iterations" value="$(arg los_max_iterations)" />" />
      <arg name="los_break_on_first" value="$(arg los_break_on_first)" />" />
      <arg name="shutdown_behavior" value="$(arg shutdown_behavior)" />" />
      <arg name="auto_active_on_new_waypoint" value="$(arg auto_active_on_new_waypoint)" />" />
      <arg name="verbose_gp_log" value="$(arg verbose_gp_log)" />" />
      <arg name="local_planner_method" value="$(arg local_planner_method)" />" />
      <arg name="num_paths" value="$(arg num_paths)" />" />
      <arg name="path_look_ahead" value="$(arg path_look_ahead)" />" />
      <arg name="vehicle_width" value="$(arg vehicle_width)" />" />
      <arg name="max_steer_angle" value="$(arg max_steer_angle)" />" />
      <arg name="output_path_step" value="$(arg output_path_step)" />" />
      <arg name="path_integration_step" value="$(arg path_integration_step)" />" />
      <arg name="dilation_factor" value="$(arg dilation_factor)" />" />
      <arg name="w_c" value="$(arg w_c)" />" />
      <arg name="w_s" value="$(arg w_s)" />" />
      <arg name="w_d" value="$(arg w_d)" />" />
      <arg name="w_r" value="$(arg w_r)" />" />
      <arg name="w_t" value="$(arg w_t)" />" />
      <arg name="trim_path" value="$(arg trim_path)" />" />
      <arg name="use_global_path" value="$(arg use_global_path)" />" />
      <arg name="use_blend" value="$(arg use_blend)" />" />
      <arg name="cost_vis" value="$(arg cost_vis)" />" />
      <arg name="cost_vis_text_size" value="$(arg cost_vis_text_size)" />" />
      <arg name="ignore_coll_before_dist" value="$(arg ignore_coll_before_dist)" />" />
      <arg name="pf_use_global_path" value="$(arg pf_use_global_path)" />" />
      <arg name="pf_rate" value="$(arg pf_rate)" />" />
      <arg name="pf_obstacle_cost_thresh" value="$(arg pf_obstacle_cost_thresh)" />" />
      <arg name="pf_kp" value="$(arg pf_kp)" />" />
      <arg name="pf_eta" value="$(arg pf_eta)" />" />
      <arg name="pf_cutoff_dist" value="$(arg pf_cutoff_dist)" />" />
      <arg name="pf_inner_cutoff_dist" value="$(arg pf_inner_cutoff_dist)" />" />
      <arg name="pf_motion_model_res" value="$(arg pf_motion_model_res)" />" />
      <arg name="dwa_model" value="$(arg dwa_model)" />" />
      <arg name="dwa_wheelbase" value="$(arg dwa_wheelbase)" />" />
      <arg name="dwa_speed_lin_min" value="$(arg dwa_speed_lin_min)" />" />
      <arg name="dwa_speed_lin_max" value="$(arg dwa_speed_lin_max)" />" />
      <arg name="dwa_speed_lin_steps" value="$(arg dwa_speed_lin_steps)" />" />
      <arg name="dwa_accel_max" value="$(arg dwa_accel_max)" />" />
      <arg name="dwa_speed_ang_min" value="$(arg dwa_speed_ang_min)" />" />
      <arg name="dwa_speed_ang_max" value="$(arg dwa_speed_ang_max)" />" />
      <arg name="dwa_speed_ang_steps" value="$(arg dwa_speed_ang_steps)" />" />
      <arg name="dwa_ang_accel_max" value="$(arg dwa_ang_accel_max)" />" />
      <arg name="dwa_lat_accel_max" value="$(arg dwa_lat_accel_max)" />" />
      <arg name="dwa_horizon" value="$(arg dwa_horizon)" />" />
      <arg name="dwa_time_span_min" value="$(arg dwa_time_span_min)" />" />
      <arg name="dwa_time_span_max" value="$(arg dwa_time_span_max)" />" />
      <arg name="dwa_time_span_var" value="$(arg dwa_time_span_var)" />" />
      <arg name="dwa_time_span_gain" value="$(arg dwa_time_span_gain)" />" />
      <arg name="dwa_time_step_min" value="$(arg dwa_time_step_min)" />" />
      <arg name="dwa_w_cost_goal" value="$(arg dwa_w_cost_goal)" />" />
      <arg name="dwa_w_cost_head" value="$(arg dwa_w_cost_head)" />" />
      <arg name="dwa_thresh_obs" value="$(arg dwa_thresh_obs)" />" />
      <arg name="dwa_collision_radius" value="$(arg dwa_collision_radius)" />" />
      <arg name="dwa_search_radius" value="$(arg dwa_search_radius)" />" />
      <arg name="dwa_w_cost_obs" value="$(arg dwa_w_cost_obs)" />" />
      <arg name="dwa_w_cost_speed" value="$(arg dwa_w_cost_speed)" />" />
      <arg name="dwa_use_global_path" value="$(arg dwa_use_global_path)" />" />
      <arg name="dwa_w_cost_path" value="$(arg dwa_w_cost_path)" />" />
      <arg name="dwa_use_segmentation" value="$(arg dwa_use_segmentation)" />" />
      <arg name="dwa_w_cost_seg" value="$(arg dwa_w_cost_seg)" />" />
      <arg name="dwa_w_cost_dev" value="$(arg dwa_w_cost_dev)" />" />
      <arg name="dwa_print_summary" value="$(arg dwa_print_summary)" />" />
      <arg name="vehicle_wheelbase" value="$(arg vehicle_wheelbase)" />" />
      <arg name="vehicle_max_steer_angle_degrees" value="$(arg vehicle_max_steer_angle_degrees)" />" />
      <arg name="steering_coefficient" value="$(arg steering_coefficient)" />" />
      <arg name="vehicle_speed" value="$(arg vehicle_speed)" />" />
      <arg name="throttle_coefficient" value="$(arg throttle_coefficient)" />" />
      <arg name="throttle_kp" value="$(arg throttle_kp)" />" />
      <arg name="throttle_ki" value="$(arg throttle_ki)" />" />
      <arg name="throttle_kd" value="$(arg throttle_kd)" />" />
      <arg name="time_to_max_brake" value="$(arg time_to_max_brake)" />" />
      <arg name="time_to_max_throttle" value="$(arg time_to_max_throttle)" />" />
      <arg name="use_feed_forward" value="$(arg use_feed_forward)" />" />
      <arg name="ff_a0" value="$(arg ff_a0)" />" />
      <arg name="ff_a1" value="$(arg ff_a1)" />" />
      <arg name="ff_a2" value="$(arg ff_a2)" />" />
      <arg name="max_desired_lateral_g" value="$(arg max_desired_lateral_g)" />" />
      <arg name="anti_windup_method" value="$(arg anti_windup_method)" />" />
      <arg name="pid_output_max" value="$(arg pid_output_max)" />" />
      <arg name="pid_output_min" value="$(arg pid_output_min)" />" />
      <arg name="follow_scale_x" value="$(arg follow_scale_x)" />" />
      <arg name="follow_scale_y" value="$(arg follow_scale_y)" />" />
      <arg name="mission_definition_file" value="$(arg mission_definition_file)" />" />
      <arg name="fsc_type" value="$(arg fsc_type)" />" />
      <arg name="x_offset_on_path" value="$(arg x_offset_on_path)" />" />
      <arg name="formation_prune_gp" value="$(arg formation_prune_gp)" />" />
      <arg name="follow_goal_threshold" value="$(arg follow_goal_threshold)" />" />
      <arg name="formation_debug_visualize" value="$(arg formation_debug_visualize)" />" />
      <arg name="offsets_from_leader" value="$(arg offsets_from_leader)" />" />
      <arg name="follower_dist_break" value="$(arg follower_dist_break)" />" />
      <arg name="follower_dot_threshold" value="$(arg follower_dot_threshold)" />" />
      <arg name="follower_dot_range" value="$(arg follower_dot_range)" />" />
      <arg name="use_leader_breadcrumbs" value="$(arg use_leader_breadcrumbs)" />" />
      <arg name="oof_threshold" value="$(arg oof_threshold)" />" />
      <arg name="oof_const_term" value="$(arg oof_const_term)" />" />
      <arg name="oof_lin_slope" value="$(arg oof_lin_slope)" />" />
      <arg name="oof_mult" value="$(arg oof_mult)" />" />
      <arg name="toi_approach_dist" value="$(arg toi_approach_dist)" />" />
      <arg name="toi_encircle_radius" value="$(arg toi_encircle_radius)" />" />
      <arg name="toi_encircle_degrees" value="$(arg toi_encircle_degrees)" />" />
      <arg name="toi_encircle_cw" value="$(arg toi_encircle_cw)" />" />
      <arg name="ot_tracking_veh" value="$(arg ot_tracking_veh)" />" />
      <arg name="ot_tracked_veh" value="$(arg ot_tracked_veh)" />" />
      <arg name="host" value="$(arg host)" />" />
      <arg name="port" value="$(arg port)" />" />
      <arg name="broadcast_over_ros" value="$(arg broadcast_over_ros)" />" />
      <arg name="verbose_comm_log" value="$(arg verbose_comm_log)" />" />
    </include>
  </group>

  <!-- Uncomment this section to use the MAVS simlator.
       Must have MAVS built and installed and the 
       mavs_avt_example catkin package built. -->
  <!--
  <include file="$(find mavs_avt_example)/launch/mavs_sim.launch">
    <arg name="cmd_vel_topic_arg" default="avt_341/cmd_vel" />
    <arg name="point_cloud_topic_arg" default="avt_341/points" />
    <arg name="odometry_topic_arg" default="avt_341/odometry" />
  </include>
  -->

</launch>