<launch>
    <arg name="calibration_file" default="$(find avt_341)/config/sensor_calibration/2025-03-03-15-40-59-camchain-matlab-ffi.yaml" />
    <param name="calibration_file" value="$(arg calibration_file)" />
    <node name="camera_lidar_tf_publisher" pkg="avt_341" type="calibration_tf_publisher_node" output="screen" />
</launch>