<?xml version="1.0" ?>
<robot name="MRZR">
	
    <link name="front_diff_link" />
	
    <link name="base_link" />
	
	<link name="rear_diff_link" />
	
	<link name="vectornav_link" />

	<link name="vbox_link" />

    <link name="os_lidar" />

    <link name="os_sensor" />

	<link name="vlp16_top_link">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <cylinder radius="0.052" length="0.073" />
            </geometry>
            <material name="gray" />
        </visual>
    </link>
	
    <joint name="front_diff_to_base" type="fixed">  
        <parent link="base_link" />  
        <child link="front_diff_link" />  
    </joint>

	<joint name="rear_diff_to_front_diff" type="fixed">
		<origin xyz="-2.0598 0.0 0.0" rpy="0.0 0.0 0.0"/>
		<parent link="front_diff_link" />
		<child link="rear_diff_link" />
	</joint>

	<joint name="vectornav_to_front_diff" type="fixed">
		<origin xyz="-1.30526 0.00114614 1.55394" rpy="0.008775322550313533 -0.04598729640809592 -0.03823053204542514"/>
		<parent link="front_diff_link" />
		<child link="vectornav_link" />
	</joint>

	<joint name="vbox_to_front_diff" type="fixed">
		<origin xyz="-1.52456 0.0764231 0.143979" rpy="0.0 0.0 0.0"/>
		<parent link="front_diff_link" />
		<child link="vbox_link" />
	</joint>

	<joint name="vlp16_top_to_front_diff" type="fixed">
        <origin xyz="-1.28566 0.0911805 1.71814" rpy="0.009444903230138307 0.30068682297650656 -0.0021757396093236617"/>
        <parent link="front_diff_link" />  
        <child link="vlp16_top_link" />  
    </joint>

    <joint name="vlp16_top_to_os_lidar" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="vlp16_top_link" />  
        <child link="os_lidar" />  
    </joint>

    <joint name="vlp16_top_to_os_sensor" type="fixed">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <parent link="vlp16_top_link" />  
        <child link="os_sensor" />  
    </joint>

</robot>