<?xml version="1.0" ?>
<robot name="mrzr">
    <link name="cg_link">
        <visual>
            <origin xyz="0.205 0 0.353"/>
            <geometry>
                <box size="2.71 2.59 2"/>
            </geometry>
            <material name="tan">
                <color rgba="0.81 0.63 0.62 1.0"/>
            </material>
        </visual>
    </link>
</robot>
